*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@media all and (min-width:770px)
{
    .everyrow{
        display: flex;
        flex-Wrap: wrap;
        justify-Content: space-around;
        align-items: center;
        background-color: black;
        width: 70%;
        margin: auto;
    }
    .eachprod{
        margin: 10px;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 4px 8px rgb(239, 237, 237);
        width: 25%;
        height: 450px;
        box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: translateX(0.4rem) translateY(-1rem);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    }
    .prodimg{
        width: 50%;
        height: 40%;
    
    }
    .totalpage{
    background-color: black;
    }
    .search1{
        width: 550px;
        height: 45px;
        font-size: 1.5rem;
        /* padding:0 200px; */
        text-decoration: blue;
        margin-top: 25px;
    }
    p{
        font-size: 1.5vw;
    }
}
@media all and (max-width:770px)
{
    .everyrow{
        display: flex;
        flex-Wrap: wrap;
        justify-Content: space-around;
        align-items: center;
        background-color: black;
        width: 70%;
        margin: auto;
    }
    .eachprod{
    
        margin: 10px;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 40%;
        height: 150px;
    
    }
    .prodimg{
        width: 70%;
        height: 40%;
    
    }
    .totalpage{
    background-color: black;
    }
    .search1{
        width: 90%;
        height: 20px;
        font-size: 5px;
        padding-left: 150px;
        
    }
    p{
        font-size: 1.8vw;
    }
}